[Unit]
Description=Collectd
After=local-fs.target network.target
Requires=local-fs.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/collectd
ExecStart=/usr/sbin/collectd -C /etc/collectd.conf -f
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
